rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /config/{document=**} {
      allow read: if true;
      allow write: if true;
    }
    match /orders/{document=**} {
      allow read: if false;
      allow write: if true;
    }
  }
}
