@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #803160;
  --color-primary-light: #9d3d77;
  --color-accent: #ffc107;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}
